<h1><%= @user.name %>page's</h1>
<p>email address: <%= @user.email %></p>

<p>
  <strong>Image:</strong>
  <%#= image_tag @post.image.url unless @post.image.nil?%>
    <% unless @user.image.blank? %>
   <%= image_tag @user.image.url %>
  <% end %>
</p>